In [1]:
import pandas as pd
import dbf

In [2]:
thisTable = dbf.Table('C:/Users/29086/Downloads/FFF_BRA_PM_PPP_EUF_202207/PM_PPP_REGI.DBF')

In [3]:
thisTable.open(mode=dbf.READ_ONLY)

dbf.Table('C:/Users/29086/Downloads/FFF_BRA_PM_PPP_EUF_202207/PM_PPP_REGI.DBF', status=<DbfStatus.READ_ONLY: 1>)

In [4]:
thisTable.open()

dbf.Table('C:/Users/29086/Downloads/FFF_BRA_PM_PPP_EUF_202207/PM_PPP_REGI.DBF', status=<DbfStatus.READ_ONLY: 1>)

In [5]:
print(thisTable)

        Table:         C:/Users/29086/Downloads/FFF_BRA_PM_PPP_EUF_202207/PM_PPP_REGI.DBF
        Type:          dBase III Plus
        Codepage:      ascii (plain ol' ascii)
        Status:        DbfStatus.READ_ONLY
        Last updated:  2022-08-10
        Record count:  11
        Field count:   3
        Record length: 29
        --Fields--
          0) b'REGN_COD C(2)'
          1) b'REGN_DES C(20)'
          2) b'REGN_RES C(6)'

In [6]:
thisTable = pd.DataFrame(thisTable)

In [7]:
thisTable

     0                     1       2
0   01  SP - CAPITAL          REG 01
1   02  SP - INTERIOR         REG 02
2   03  RJ+ES                 REG 03
3   04  MG                    REG 04
4   05  RS                    REG 05
5   06  PR+SC                 REG 06
6   07  PE+AL+PB+RN           REG 07
7   08  BA+SE                 REG 08
8   09  CE+MA+PI              REG 09
9   10  GO+MT+MS+TO+DF        REG 10
10  11  AM+PA+RO+RR+AC+AP     REG 11